.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.headshot {
  height: 8%;
  width: 8%;
  border-radius: 50%;
  margin-right: 20px;
}

#textGrid {
  display: grid;
  position: relative;
  top: 40px;
  grid-template-rows: 100px 500px;
  grid-template-columns: 950px;
}

#mainFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  text-align: left;
  font-size: 24px;
}

.email {
  color: rgb(72, 249, 240);
}

.logos {
  position: relative;
  top: 9px;
  margin-left: 15px;
  /* padding-right: 5px; */
}

#projectGrid {
  position: relative;
  top: -215px;
  display: grid;
  grid-row-gap: 36px;
  grid-column-gap: 36px;
  grid-template-columns: 457px 457px;
}

#projectTop {
  position: relative;
  top: -296px;
  width: 950px;
  height: 700px;
}

.bdaySlides {
  width: 100%;
  height: 545px;
}

.bigApp {
  background: lightgrey;
}

.bigAppText {
  background: lightgrey;
  height: 192px;
  color: black;
}

.miniApp {
  height: 262px;
  width: 455px;
  background: white;
  margin-bottom: -7px;
}

.profile {
  height: 252px;
  width: 445px;
  border: 5px solid white;
}

.miniAppTextContainer {
  height: 170px;
  width: 456px;
  background: lightgrey;
  color: black;
}

.miniAppTitle {
  margin: 0;
  padding: 20px 20px 15px;
  font-weight: 600;
}
.miniAppText {
  margin: 0;
  padding: 0 20px 10px;
  font-weight: 300;
  font-size: 16.7px;
}

.linkApp {
  position: relative;
  left: -165px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 115, 255);
}
.bigLinkApp {
  position: relative;
  left: -413px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 115, 255);
}